:root {
  --base-fontFamily-main: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  
  /* Colors */
  --base-brandColor: #006633;
  
  --base-white: #FFFFFF;
  --base-black: #000000;

  --base-orange500: #FFCC00;
  --base-orange100: #FFFFCC;
  --base-orange050: #FFFFEE;

  --base-green300: #B9C186;

  /* Colors: Backgrounds */
  --base-background-title: var(--base-brandColor);
  --base-background-main: var(--base-orange050);
  --base-background-hover: #00663344;
  --base-background-tab: var(--base-green300);
  --base-background-tabSelected: var(--base-orange500);
  --base-background-table: var(--base-orange050);
  --base-background-tableZebra: var(--base-orange100);
  --base-background-button: var(--base-white);

  /* Colors: Borders */
  --base-border-button: var(--base-black);

  /* Colors: Texts */
  --base-fontColor-dark: var(--base-black);
  --base-fontColor-main: var(--base-white);

  /* Font Sizes */
  --base-fontSize-large: 1em;
  --base-fontSize-medium: 0.85em;
  --base-fontSize-small: 0.75em;

  /* Font Weights */
  --base-fontWeight-title: 700;
  --base-fontWeight-main: 400;
}

html,
body {
  background-color: var(--base-brandColor);
  font-family: var(--base-fontFamily-main);
  height: 100vh;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  clear: both !important;
  float: none !important;
  /* This rule is removing the list-items' marks */
  /* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  width: 100%;
}

strong {
  font-weight: inherit !important;
}
